{% extends 'WIS2_app/base.html' %}

{% block content %}

    <h2>Moje předměty</h2>
    <table class="table w-50 p-3 table table-hover">
            {% if user %}
                <thead>
                    <tr>
                        <th>Zkratka</th>
                        <th>Jméno</th>
                        <th>kredity</th>
                        <th>limit studentů</th>
                        <th>Jazyk</th>
                        <th>Typ</th>
                        <th>Body</th>
                    </tr>
                </thead>
                {% for item, value in registered_course_list_points %}
                    <tbody>
                        <tr>
                            <td>{{item.CourseUID.UID}}</td>
                            <td>{{item.CourseUID.name}}</td>
                            <td>{{item.CourseUID.credits}}</td>
                            <td>{{item.CourseUID.student_set.all.count}}/{{item.CourseUID.student_limit}}</td>
                            <td>{{item.CourseUID.language}}</td>
                            <td>{{item.CourseUID.kind}}</td>
                            <td>{{ value }}</td>
                        </tr>
                    </tbody>
                {% endfor %}

            {% endif %}


    </table>

{% endblock %}