<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WIS2</title>
</head>
<body>
    <div class='topnav'>
        {% block tabs%}
            <!-- historie predmetu -->
            {% if user %}
                <a href='/user'>Uzivatel</a>
            {% endif %}
                <a href='/'>Hlavní stránka</a>
                <a href='/courses/'>Kurzy</a>
            {% if user or lecturer or garant%}
                <a href='/my_courses'>Moje Kurzy</a>
                <a href="/courses/termins/">Terminy</a>
            {% endif %}
            {% if lecturer or garant%}
                <a href='/lecture_administration'>Sprava Lekci</a>
            {% endif %}
            {% if garant %}
                <a href='/course_administration'>Sprava kurzu</a>
            {% endif %}
            {% if lecturer or  garant%}
                <a href='/student_evaluation'>Hodnoceni studentu</a>
            {% endif %}
            {% if user.is_staff %}
                <a href="/admin/rooms/">Sprava mistnosti</a>
                <a href="/admin/garants/">Sprava garantu</a>
            {% endif %}
            {% if user %}
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/logout/">Log In</a>
            {% endif %}
        {% endblock %}
    </div>
    <div>
        {% block content %}
            Base content
        {% endblock %}
    </div>
</body>
</html>