{% extends 'WIS2_app/base.html' %}

{% block content %}
    <h1>List of courses</h1>
    <table>
            {% if user %}
                <tr><th>Moje predmety</th></tr>
               <tr>
                    <th>Zkratka</th>
                    <th>Jméno</th>
                    <th>kredity</th>
                    <th>limit studentů</th>
                    <th>Jazyk</th>
                    <th>Typ</th>
                </tr>
                {% for item in registered_course_list %}
                <tr>
                    <th>{{item.CourseUID.UID}}</th>
                    <th>{{item.CourseUID.name}}</th>
                    <th>{{item.CourseUID.credits}}</th>
                    <th>{{item.CourseUID.student_limit}}</th>
                    <th>{{item.CourseUID.language}}</th>
                    <th>{{item.CourseUID.kind}}</th>
                    <th><button name={{item.UID}} > leave </button></th>
                </tr>
                    {% endfor %}
            {% endif %}
            <tr><th>Vsechny predmety</th></tr>
            <tr>
                <th>Zkratka</th>
                <th>Jméno</th>
                <th>kredity</th>
                <th>limit studentů</th>
                <th>Jazyk</th>
                <th>Typ</th>
            </tr>
            {% for item in course_list%}
            <tr>
                <th>{{item.UID}}</th>
                <th>{{item.name}}</th>
                <th>{{item.credits}}</th>
                <th>{{item.student_limit}}</th>
                <th>{{item.language}}</th>
                <th>{{item.kind}}</th>
                {% if user %}
                <th><button name={{item.UID}} > reg </button></th>
                {% endif %}
            </tr>
            {% endfor %}
    </table>

{% endblock %}