{% extends 'WIS2_app/base.html' %}

{% block content %}
    <h1> Shrnuti kurzu</h1>
    <table>
        <tr><td>Název</td><td>{{ course.name }}</td></tr>
        <tr><td>Registrovaní</td><td>{{ registered }}/{{ course.student_limit }}</td></tr>
        <tr><td>Jazyk</td><td>{{ course.language }}</td></tr>
        <tr><td>Kredity</td><td>{{ course.credits }}</td></tr>
        <tr><td>Druh</td><td>{{ course.kind }}</td></tr>

    </table>
    <h1>Popis</h1>>
    <div>
    {{ course.description }}
    </div>
    <h1>Terminy</h1>
    <h2>testy</h2>
    <table>
        <tr>
            <td>Název</td>
            <td>Datum</td>
            <td>Místnost</td>
            <td>Body</td>
        </tr>
        {% for exam in exam_list %}
            <tr>
                <td>{{ exam.name }}</td>
                <td>{{ exam.TerminSingle.date }}</td>
                <td>{{ exam.roomUID }}</td>
                <td>{{ exam.max_points }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Projekty</h2>
    <table>
        <tr>
            <td>Název</td>
            <td>Deadline</td>
            <td>Body</td>
        </tr>
        {% for project in project_list %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.TerminSingle.date }}</td>
                <td>{{ project.max_points }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Cvičení</h2>
    <table>
        <tr>
            <td>Název</td>
            <td>Datum</td>
            <td>Perioda opakování</td>
            <td>Místnost</td>
            <td>Body</td>
        </tr>
        {% for practice_lecture in practice_lecture_list %}
              <tr>
                  <td>{{ practice_lecture.name }}</td>
                  <td>{{ practice_lecture.TerminPeriod.date }}</td>
                  <td>{{ practice_lecture.TerminPeriod.peridocity }}</td>
                  <td>{{ practice_lecture.roomUID }}</td>
                  <td>{{ practice_lecture.max_points }}</td>
              </tr>
        {% endfor %}
    </table>
    <h2>Přednášky</h2>
    <table>
        <tr>
            <td>Název</td>
            <td>Datum</td>
            <td>Perioda opakování</td>
            <td>Místnost</td>
            <td>Body</td>
        </tr>
        {% for lecture in lecture_list %}
              <tr>
                  <td>{{ lecture.name }}</td>
                  <td>{{ lecture.TerminPeriod.date }}</td>
                  <td>{{ lecture.TerminPeriod.peridocity }}</td>
                  <td>{{ lecture.roomUID }}</td>
                  <td>{{ lecture.max_points }}</td>
              </tr>
        {% endfor %}
    </table>
{% endblock %}