{% extends 'WIS2_app/base.html' %}

{% block content %}
    <h1> Shrnuti kurzu</h1>
    <table>
        <tr><td>Název</td><td>{{ course.name }}</td></tr>
        <tr><td>Registrovaní</td><td>{{ course.student_limit }}</td></tr>
        <tr><td>Jazyk</td><td>{{ course.language }}</td></tr>
        <tr><td>Kredity</td><td>{{ course.credits }}</td></tr>
        <tr><td>Druh</td><td>{{ course.kind }}</td></tr>

    </table>
    <h1>Popis</h1>
    <div>
    {{ course.description }}
    </div>
    <h1>Terminy</h1>
    <h2>Testy</h2>
    <table>
        <tr>
            <td>Název</td>
            <td>Datum</td>
            <td>Místnost</td>
            <td>Body</td>
        </tr>
        {% for exam in exam_list %}
            <tr>
                <td>{{ exam.TerminID.name }}</td>
                <td>{{ exam.date }}</td>
                <td>{{ exam.TerminID.RoomUID.roomUID }}</td>
                <td>{{ exam.TerminID.max_points }}</td>
                <td>
                    <a href="/courses/termins/{{ course.UID }}/delete/{{ exam.TerminID.ID }}/">
                        <button> Remove </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/courses/create_exam/{{ course.UID }}">
        <button>Add exam</button>
    </a>
    <h2>Projekty</h2>
    <table>
        <tr>
            <td>Název</td>
            <td>Deadline</td>
            <td>Body</td>
        </tr>
        {% for project in project_list %}
            <tr>
                <td>{{ project.TerminID.name }}</td>
                <td>{{ project.date }}</td>
                <td>{{ project.TerminID.max_points }}</td>
                <td>
                    <a href="/courses/termins/{{ course.UID }}/delete/{{ project.TerminID.ID }}/">
                        <button> Remove </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/courses/create_project/{{ course.UID }}">
        <button>Add project</button>
    </a>
    <h2>Cvičení</h2>
    <table>
        <tr>
            <td>Název</td>
            <td>Datum</td>
            <td>Perioda opakování</td>
            <td>Místnost</td>
            <td>Body</td>
        </tr>
        {% for practice_lecture in practice_lecture_list %}
              <tr>
                  <td>{{ practice_lecture.TerminID.name }}</td>
                  <td>{{ practice_lecture.start }}</td>
                  <td>{{ practice_lecture.periodicity }}</td>
                  <td>{{ practice_lecture.TerminID.RoomUID.roomUID }}</td>
                  <td>{{ practice_lecture.TerminID.max_points }}</td>
                  <td>
                      <a href="/courses/termins/{{ course.UID }}/delete/{{ practice_lecture.TerminID.ID }}/">
                          <button> Remove </button>
                      </a>
                  </td>
              </tr>
        {% endfor %}
    </table>
    <a href="/courses/create_practice_lecture/{{ course.UID }}">
        <button>Add practice lecture</button>
    </a>
    <h2>Přednášky</h2>
    <table>
        <tr>
            <td>Název</td>
            <td>Datum</td>
            <td>Perioda opakování</td>
            <td>Místnost</td>
            <td>Body</td>
        </tr>
        {% for lecture in lecture_list %}
              <tr>
                  <td>{{ lecture.TerminID.name }}</td>
                  <td>{{ lecture.start }}</td>
                  <td>{{ lecture.periodicity }}</td>
                  <td>{{ lecture.TerminID.RoomUID.roomUID }}</td>
                  <td>{{ lecture.TerminID.max_points }}</td>
                  <td>
                      <a href="/courses/termins/{{ course.UID }}/delete/{{ lecture.TerminID.ID }}">
                          <button> Remove </button>
                      </a>
                  </td>
              </tr>
        {% endfor %}
    </table>
    <a href="/courses/create_lecture/{{ course.UID }}">
        <button>Add lecture</button>
    </a>
{% endblock %}