{% extends 'WIS2_app/base.html' %}

{% block content %}
    <h1>List of courses</h1>
    <table>
            {% if user %}
                <a href="/create_course/"><BUTTON>Vytvorit kurz</BUTTON></a>

                <tr><th>Moje predmety</th></tr>
               <tr>
                    <th>Zkratka</th>
                    <th>Jméno</th>
                    <th>kredity</th>
                    <th>limit studentů</th>
                    <th>Jazyk</th>
                    <th>Typ</th>
                </tr>
                {% for item in registered_course_list %}
                <tr>
                    <th><a href="detail/{{ item.UID }}">{{item.UID}}</a></th>
                    <th>{{item.name}}</th>
                    <th>{{item.credits}}</th>
                    <th>{{ item.count }}/{{item.student_limit}}</th>
                    <th>{{item.language}}</th>
                    <th>{{item.kind}}</th>
                    <th><a href="leave/{{item.UID}}" ><button> leave </button></a></th>
                </tr>
                    {% endfor %}
            {% endif %}
            <tr><th>Vsechny predmety</th></tr>
            <tr>
                <th>Zkratka</th>
                <th>Jméno</th>
                <th>kredity</th>
                <th>limit studentů</th>
                <th>Jazyk</th>
                <th>Typ</th>
            </tr>
            {% for item in course_list%}
            <tr>

                <th><a href="detail/{{ item.UID }}">{{item.UID}}</a></th>
                <th>{{item.name}}</th>
                <th>{{item.credits}}</th>
                <th>{{ item.count }}/{{item.student_limit}}</th>
                <th>{{item.language}}</th>
                <th>{{item.kind}}</th>
                {% if user %}
                    <th><a href="join/{{item.UID}}" ><button> reg </button></a></th>
                {% endif %}
            </tr>
            {% endfor %}
    </table>

{% endblock %}