{% extends 'WIS2_app/base.html' %}

{% block content %}
    <h1>Vítejte ve WISU 2</h1>
    <div>Co je nového?</div>
    <ol class="w-25 list-group">
        <li class="list-group-item border-0 ripple">1. Založte kurz a učte aniž byste měli cokoliv vystudovaného (pokud vám to admin dovolí <3)</li>
        <li class="list-group-item border-0 ripple">2. Méně grafiky, více čitelnosti</li>
        <li class="list-group-item border-0 ripple">3. Přihlašování a odhlašování na předmety celý rok</li>
        <li class="list-group-item border-0 ripple">4. Už nejste omezování uzkoprsým rozdělením předmětů na letní a zimní semestr!</li>
    </ol>

{% endblock %}