<!DOCTYPE html>
{% extends 'WIS2_app/base.html' %}
{% if user.is_staff %}
{% block content %}
    <h2>Čeká na verifikaci</h2>
    <table class="table w-25 p-3 table-light">
        <thead class="table-dark">
        <tr>
            <th>Předmět</th>
            <th>Garant</th>
            <th>Schválit</th>
            <th>Smazat</th>
        </tr>
        </thead>
        <tbody>
        {% for item in garants_waiting %}
            <tr>
                <td><a href="/courses/detail/{{ item.CourseUID.UID }}/">{{ item.CourseUID }}</a></td>
                <td>{{ item.UserUID }}</td>
                <td><a href="/admin/garants/{{ item.CourseUID.UID }}/">Schválit</a></td>
                <td><a href="/courses/delete/{{ item.CourseUID.UID }}/">Smazat předmět</a></td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    <h2>Schválené kurzy</h2>
    <table class="table w-25 p-3 table-light">
        <thead class="table-dark">
        <tr>
            <th>Předmět</th>
            <th>Garant</th>
            <th>Schválit</th>
        </tr>
        </thead>
        <tbody>
        {% for item in garants_verified %}
            <tr>
                <td><a href="/courses/detail/{{ item.CourseUID.UID }}/">{{ item.CourseUID }}</a></td>
                <td>{{ item.UserUID }}</td>
                <td><a href="/admin/garants/{{ item.CourseUID.UID }}/">Odschválit</a></td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

{% endblock %}
{% else %}
    <meta http-equiv="Refresh" content="0; url=''"/>
{% endif %}