<!DOCTYPE html>
{% extends 'WIS2_app/base.html' %}


{% if user.is_staff %}

{% block content %}
    <table>
        <tr>
            <td>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Pridat mistnost</button>
                </form>
            </td>
        </tr>
        <tr>
            <th>Cislo mistnosti</th>
            <th>Vymazat mistnost</th>
        </tr>
        {%  for room in rooms %}
        <tr>
            <td> {{ room.roomUID }}</td>
            <td> <a href="delete/{{ room.roomUID }}/">Vymazat</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% else %}
    <meta http-equiv="Refresh" content="0; url=''"/>
{% endif %}
